<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMateriaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
                <h:form id="CGenero">
                    <h:outputLabel>Para Registrar la información del Género Literario, es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="ID GÉNERO LITERARIO" for="id" />
                    <h:inputText class="form-control" id="id" value="#{materiaController.selected.id}" title="#{bundle.EditMateriaTitle_id}" disabled="true"/>
                    <h:outputLabel value="" />
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditMateriaLabel_materia}" for="materia"><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputTextarea style="width: 300px;" rows="4" cols="30" id="materia" value="#{materiaController.selected.materia}"  required="true" requiredMessage="#{bundle.EditMateriaRequiredMessage_materia}"/>
                    <p:tooltip for="materia" value="#{bundle.EditMateriaTitle_materia}" position="right"/>
                </h:panelGrid>
                <br />
                <h:commandLink class="btn btn-success" action="#{materiaController.create}"><i class="fas fa-save"></i>  #{bundle.CreateMateriaSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary" action="#{materiaController.prepareList}" immediate="true"><i class="fas fa-list"></i> #{bundle.CreateMateriaShowAllLink}</h:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.CreateMateriaIndexLink}</h:link>
                </div>
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://thancguide.org/wp-content/uploads/2021/01/books-kids-Artboard-2@2x.png" width="80%"/>
                </div>
            </div>
            </div>
            </div> 
        </ui:define>
    </ui:composition>

</html>
