<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
                <h:form id="EUsuario">
                    <h:outputLabel>Para Actualizar la información de algún Usuario es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="ID USUARIO: " for="id" />
                    <h:inputText class="form-control" disabled="true" id="id" value="#{usuariosController.selected.id}"  required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_id}"/>
                    <p:tooltip for="id" value="#{bundle.EditUsuariosTitle_id}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditUsuariosLabel_usuario}" for="usuario" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="usuario" value="#{usuariosController.selected.usuario}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usuario}"/>
                    <p:tooltip for="usuario" value="#{bundle.EditUsuariosTitle_usuario}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditUsuariosLabel_nombre}" for="nombre" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="nombre" value="#{usuariosController.selected.nombre}"  required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_nombre}"/>
                    <p:tooltip for="nombre" value="#{bundle.EditUsuariosTitle_nombre}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditUsuariosLabel_clave}" for="clave" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="clave" value="#{usuariosController.selected.clave}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_clave}"/>
                    <p:tooltip for="clave" value="#{bundle.EditUsuariosTitle_clave}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditUsuariosLabel_rol}" for="rol" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu  id="rol" value="#{usuariosController.selected.rol}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_rol}">
                        <f:selectItem itemLabel="ADMIN" itemValue="1"/>
                        <f:selectItem itemLabel="EMPLOYED" itemValue="2"/>
                    </p:selectOneMenu>
                    <p:tooltip for="rol" value="#{bundle.EditUsuariosTitle_rol}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditUsuariosLabel_status}" for="status" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu class="form-control" id="status" value="#{usuariosController.selected.status}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_status}">
                        <f:selectItem itemLabel="CON ACCESO" itemValue="1"/>
                        <f:selectItem itemLabel="SIN ACCESO" itemValue="0"/>
                    </p:selectOneMenu>
                    <p:tooltip for="status" value="#{bundle.EditUsuariosTitle_status}"  position="right"/>
                </h:panelGrid>
                    <h:commandLink class="btn btn-success" action="#{usuariosController.update}"><i class="fas fa-save"></i> #{bundle.EditUsuariosSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary"  outcome="View"><i class="fas fa-file-alt"></i> #{bundle.EditUsuariosViewLink}</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{usuariosController.prepareList}" immediate="true"><i class="fas fa-list"></i> #{bundle.EditUsuariosShowAllLink}</h:commandLink>
                </div>
                <br />
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://www.symmetry.com.br/wp-content/uploads/2017/07/Usuario-permisos_mybusinesspos-300x200.png" width="100%"/>
                </div>
            </div>
            </div>
            </div>  
        </ui:define>
    </ui:composition>

</html>
