<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT3()}">
        <ui:define name="title">
            Soporte Técnico
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" >
                <br/>
                <h:messages errorClass="alert alert-danger" infoClass="alert alert-success" />
            </h:panelGroup>
       <h:form id="contactForm" enctype="multipart/form-data">
                 <!-- Contact Section-->
     <div class="row">
        <div class="col-xl-7">
        <section class="page-section" id="contact">
            <div class="container">
                <br/>
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Soporte Técnico <i class="fas fa-wrench"></i></h2>
                <br/>
                <!-- Contact Section Form-->
                <div class="justify-content-center">
                    <div class="col-xl-12">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <h:inputText class="form-control" id="name" value="#{emailJSFManagedBeanSoporte.nombre}" required="true" requiredMessage="Es necesario que ingrese su nombre" pt:placeholder="Tu nombre completo" />
                                <label for="name">Nombre completo</label>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <h:inputText class="form-control" id="email" value="#{emailJSFManagedBeanSoporte.correo}"  required="true" requiredMessage="Dirección de correo no válida" pt:placeholder="Tu correo electrónico" />
                                <label for="email">Dirección de correo electrónico</label>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <h:inputText class="form-control" id="phone" value="#{emailJSFManagedBeanSoporte.telefono}" required="true" requiredMessage="Se requiere algún número telefónico" pt:placeholder="Tu número de teléfono" />
                                <label for="phone">Número telefónico</label>
                            </div>
                            <div class="form-floating mb-3">
                                <p:fileUpload value="#{emailJSFManagedBeanSoporte.file}"  fileLimitMessage="Error, el archivo supera el tamaño máximo."   invalidFileMessage="Formato no Soportado"
                                              label="Seleccionar imagen" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" skinSimple="true"  sizeLimit="10000000"/>
                                <!--Formato de Imagen allowTypes="/(\.|\/)(gif|jpe?g|png)$/" -->
                            </div>
                                <!-- Message input-->
                            <div class="form-floating mb-3">
                                <h:inputTextarea class="form-control" id="message" style="height: 7rem"  value="#{emailJSFManagedBeanSoporte.mensaje}" required="true" requiredMessage="Es necesario que ingrese el mensaje"  />
                                <label for="message">Mensaje</label>
                            </div>
                                <h:commandButton class="btn btn-success" value="Enviar" id="submitButton" type="submit" action="#{emailJSFManagedBeanSoporte.enviarMensaje()}"/>
                    </div>
                </div>
            </div>
        </section>
        </div>
         <div class="col-xl-5">
             <br/>
             <br/>
             <img src="https://pcasistencia.com/wp-content/uploads/2017/12/mantenimiento-informatico-informatico-5.png" width="100%"/>
           </div>
           </div>
                
            </h:form>
            <br/>
            <br/>
        </ui:define>
    </ui:composition>

</html>

