<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLibroTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form id="rLibro">
                <p:growl id="message" showDetail="true"/>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{libroController.items.rowCount == 0}">
                    <div class="row">
                        <div class="col-xl-7"/>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC2" class="form-control" type="search" placeholder="Buscar Libro" value="#{libroController.search}"/>
                                        <p:tooltip for="bC2"  value="Buscar Libro por ID, Título, Editorial o Autor" position="left"/>
                                        <p:commandButton update="rLibro" icon="pi pi-search" action="#{libroController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="rLibro" value="Mostrar todo" action="#{libroController.showAll}" />
                            </div>
                        </div> 
                    </div>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLibroEmpty}" rendered="#{libroController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{libroController.items.rowCount > 0}">
                    <div class="row">
                        <div class="col-xl-7">
                            <ul class="pagination">
                                <li class="page-item"><h:outputText class="page-link" value="#{libroController.pagination.pageFirstItem + 1}..#{libroController.pagination.pageLastItem + 1}/#{libroController.pagination.itemsCount}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{libroController.previous}" value="#{bundle.Previous} #{libroController.pagination.pageSize}" rendered="#{libroController.pagination.hasPreviousPage}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{libroController.next}" value="#{bundle.Next} #{libroController.pagination.pageSize}" rendered="#{libroController.pagination.hasNextPage}"/>&nbsp;</li>
                            </ul>
                        </div>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC" class="form-control" type="search" placeholder="Buscar Libro" value="#{libroController.search}"/>
                                        <p:tooltip for="bC"  value="Buscar Libro por ID, Título, Editorial o Autor" position="left"/>
                                        <p:commandButton update="rLibro" icon="pi pi-search" action="#{libroController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="rLibro" value="Mostrar todo" action="#{libroController.showAll}" />
                            </div>
                        </div> 
                    </div>
                    <div class="m-0 row justify-content-center p-1">
                    <h:dataTable value="#{libroController.items}" var="item" rules="all" class="table1">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_cantidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidad}"/>
                        </h:column>
                        <!--<h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_anioEdicion}"/>
                            </f:facet>
                            <h:outputText value="#{item.anioEdicion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_numPagina}"/>
                            </f:facet>
                            <h:outputText value="#{item.numPagina}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_imagen}"/>
                            </f:facet>
                            <h:outputText value="#{item.imagen}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_isbn}"/>
                            </f:facet>
                            <h:outputText value="#{item.isbn}"/>
                        </h:column>-->
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_cantidadDisponible}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidadDisponible}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_status}"/>
                            </f:facet>
                            <span class="#{(item.status == 0)?'agotado letra negrita text-white':'existencia letra negrita text-white'}"><h:outputLabel value="#{((item.status == 0)?'AGOTADO':'EXISTENCIA')}"/></span>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_idAutor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAutor.autor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLibroTitle_idEditorial}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEditorial.editorial}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Género"/>
                            </f:facet>
                            <h:outputText value="#{item.idMateria.materia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Opciones"/>
                            </f:facet>
                            <div class="btn-group">
                                <h:commandLink id="show" class="btn btn-info" action="#{libroController.prepareView}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                <h:commandLink id="edit" class="btn btn-warning" action="#{libroController.prepareEdit}"><i class="fas fa-edit"></i></h:commandLink>
                                <p:tooltip for="edit" value="Editar Información" position="top"/>
                                <p:commandLink id="delete" class="btn btn-danger" action="#{libroController.destroy}" update="rLibro" ><i class="fas fa-trash" style="color:white;"></i>
                                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el Material Bibliográfico?" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>
                                <p:tooltip for="delete" value="Eliminar Libro" position="top"/>
                            </div>
                        </h:column>
                    </h:dataTable>
                    </div>
                </h:panelGroup>
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary " action="#{libroController.prepareCreate}"><i class="fas fa-book"></i> #{bundle.ListLibroCreateLink}</h:commandLink>
                    <h:link class="btn btn-outline-primary " outcome="/index"><i class="fas fa-home"></i> #{bundle.ListLibroIndexLink}</h:link>
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
