<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templateP.xhtml">
        <ui:define name="title">
            <h:outputText value="Solicitud de Libros"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> Centro de Información del CECyTE Plantel 25 "San Pablo Huixtepec"
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
                    <h:panelGroup id="messagePanel" layout="block">
                            <p:messages id="messages" showDetail="true" closable="true">
                                <p:autoUpdate/>
                            </p:messages>
                    </h:panelGroup>
                <h:form id="Solicitud">
                    <h:outputLabel>Para Generar una Solicitud de Material Bibliográfico, es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="ID SOLICITANTE: " for="id" />
                    <p:inputText class="form-control" id="id" value="#{lectoresSB.claveS}" disabled="true"/>
                    <p:tooltip for="id" value="#{bundle.CreateSolicitudTitle_id}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="Nombre del Solicitante: " for="nombreS" />
                    <p:inputText class="form-control" id="nombreS" value="#{lectoresSB.nombreS}" disabled="true"/>
                    <p:tooltip for="nombreS" value="#{lectoresSB.nombreS}"  position="right"/>
                                        
                    <h:outputLabel class="form-label negrita" value="CLAVE DEL LIBRO: " for="idLibro" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="idLibro" value="#{lectoresSB.libroD.id}" disabled="true"/>
                    <p:tooltip for="idLibro" value="#{bundle.CreateSolicitudTitle_idLibro}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="Título del Libro:" for="titulo" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="titulo" value="#{lectoresSB.libroD.titulo}" disabled="true"/>
                    <p:tooltip for="titulo" value="Título del Libro"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="Editorial:" for="editorial" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="editorial" value="#{lectoresSB.libroD.idEditorial.editorial}" disabled="true"/>
                    <p:tooltip for="editorial" value="Editorial del Libro"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="Autor:" for="autor" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="autor" value="#{lectoresSB.libroD.idAutor.autor}" disabled="true"/>
                    <p:tooltip for="autor" value="Autor del Libro"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.CreateSolicitudLabel_comentarios}" for="comentarios" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputTextarea rows="6" cols="33" class="form-control" id="comentarios" value="#{lectoresSB.solicitud.comentarios}" required="true"/>
                    <p:tooltip for="comentarios" value="#{bundle.CreateSolicitudTitle_comentarios}"   position="right"/>

                </h:panelGrid>
                <br />
                <h:commandLink rendered="#{!lectoresSB.rend}" class="btn btn-success" action="#{lectoresSB.enviarSolicitud()}" ><i class="fas fa-save"></i> Enviar Solicitud</h:commandLink>&nbsp;&nbsp;&nbsp;
                <h:commandLink rendered="#{lectoresSB.rend}" class="btn btn-danger" action="List.xhtml" ><i class="fas fa-window-close"></i> Salir</h:commandLink>
                <br />
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://images.vexels.com/media/users/3/144860/isolated/preview/5128b7ff4b40f49cd6c0ce8698b9a19a-ilustracion-de-libros-de-lectura-de-nino.png" width="100%"/>
                </div>
            </div>
            </div>
            </div> 
        </ui:define>
    </ui:composition>

</html>
