<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPrestamoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
             <h:form id="EPrestamo"> 
                    <h:outputLabel>Para Actualizar la información de algún Préstamo es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_id} PRÉSTAMO" for="id"/>
                    <h:inputText class="form-control" id="id" value="#{prestamoController.selected.id}"  disabled="true" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_id}"/>
                    <p:tooltip for="id" value="#{bundle.EditPrestamoTitle_id}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_fechaPrestamo}" for="fechaPrestamo"><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:calendar  id="fechaPrestamo" value="#{prestamoController.selected.fechaPrestamo}" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_fechaPrestamo}" showOn="button" locale="es">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </p:calendar>
                    <p:tooltip for="fechaPrestamo" value="#{bundle.EditPrestamoTitle_fechaPrestamo}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_fechaDevolucion}" for="fechaDevolucion"><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:calendar id="fechaDevolucion" value="#{prestamoController.selected.fechaDevolucion}" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_fechaDevolucion}" showOn="button" locale="es">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </p:calendar>
                    <p:tooltip value="#{bundle.EditPrestamoTitle_fechaDevolucion}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_cantidad}" for="cantidad" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <h:inputText class="form-control" id="cantidad" value="#{prestamoController.selected.cantidad}" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_cantidad}"/>
                    <p:tooltip for="cantidad" value="#{bundle.EditPrestamoTitle_cantidad}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_observacion}" for="observacion" />
                    <p:inputTextarea class="form-control" rows="4" cols="30" id="observacion" value="#{prestamoController.selected.observacion}"/>
                    <p:tooltip for="observacion" value="#{bundle.EditPrestamoTitle_observacion}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_status}" for="status" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu  id="status" value="#{prestamoController.selected.status}" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_status}">
                        <f:selectItem class="bg-black" itemLabel="ENTREGADO" itemValue="0"/>
                        <f:selectItem itemLabel="PENDIENTE" itemValue="1"/>
                    </p:selectOneMenu>
                    <p:tooltip for="status" value="#{bundle.EditPrestamoTitle_status}" position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_idLibro}" for="idLibro" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu filter="true" filterPlaceholder="Título" style="width: 300px;" id="idLibro" value="#{prestamoController.selected.idLibro}" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_idLibro}">
                        <f:selectItems value="#{libroController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <p:tooltip for="idLibro" value="#{bundle.EditPrestamoTitle_idLibro}"  position="right"/>
                    <h:outputLabel class="form-label negrita" value="#{bundle.EditPrestamoLabel_idSolicitante}" for="idSolicitante" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu filter="true" filterPlaceholder="Nombre" id="idSolicitante" value="#{prestamoController.selected.idSolicitante.idlector}" required="true" requiredMessage="#{bundle.EditPrestamoRequiredMessage_idSolicitante}">
                        <f:selectItems value="#{lectorController.lectoresDisponibles}" var="lector" itemLabel="#{lector}" itemValue="#{lector.id}" />
                    </p:selectOneMenu>
                    <p:tooltip for="idSolicitante" value="#{bundle.EditPrestamoTitle_idSolicitante}"  position="right"/>
                </h:panelGrid>
                    <h:commandLink class="btn btn-success" action="#{prestamoController.update}"><i class="fas fa-save"></i> #{bundle.EditPrestamoSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="View"><i class="fas fa-file-alt"></i> #{bundle.EditPrestamoViewLink}</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{prestamoController.prepareList}" immediate="true"><i class="fas fa-list"></i> #{bundle.EditPrestamoShowAllLink}</h:commandLink>
                </div>
                <br />
                <br />
                
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://st4.depositphotos.com/17134304/26412/v/600/depositphotos_264124072-stock-illustration-library-books-collection-banner-vector.jpg" width="100%"/>
                    <br/>
                    <br/>
                    <img src="https://images.ctfassets.net/gkhyeghj07ak/7fO0QcIiedueaqETgsvNj2/5bc5150d97eeddeff0480731cef76421/Pasalapagina_-_Buscar2.gif" width="100%"/>
                </div>
            </div>
            </div>
            </div>   
            
            <script>
                PrimeFaces.locales['es'] = {
                    closeText: 'Cerrar',
                    prevText: 'Anterior',
                    nextText: 'Siguiente',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    dayNamesMin: ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'],
                    weekHeader: 'Semana',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                    timeOnlyTitle: 'Sólo hora',
                    timeText: 'Tiempo',
                    hourText: 'Hora',
                    minuteText: 'Minuto',
                    secondText: 'Segundo',
                    currentText: 'Fecha actual',
                    ampm: false,
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    allDayText: 'Todo el día'
                    };
            </script>
        </ui:define>
    </ui:composition>

</html>
