<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT3()}">
        <ui:define name="title">
            <h:outputText value="Ficha de Préstamos"></h:outputText>
        </ui:define>
        <ui:define name="body">
                        <div class="row">
                            <div class="col-xl-7"><h2>Ficha de Préstamos <i class="fas fa-book-open"></i></h2></div>
                            <div class="col-xl-5">
                              
                                <a href="https://time.is/Oaxaca,_Oaxaca" id="time_is_link" rel="nofollow" style="font-size:20px; color: black;">Hora local en Oaxaca:</a>
                                <span id="Oaxaca__Oaxaca_z159" style="font-size:20px"></span>
                                <script src="//widget.time.is/es.js"></script>
                                <script>
                                time_is_widget.init({Oaxaca__Oaxaca_z159:{template:"TIME DATE", time_format:"12hours:minutes:secondsAMPM", date_format:"dayname daynum/monthnum/yy"}});
                                </script>
                            </div>
                        </div>
                        <h:panelGroup id="messagePanel" layout="block">
                            <p:messages id="messages" showDetail="true" closable="true">
                                <p:autoUpdate/>
                            </p:messages>
                        </h:panelGroup>
                        <h:form id="PuntoV">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="col-xl-12">
                                <div class="card mb-4 border-danger">
                                    <div class="card-header bg-danger" style="color:white;">
                                        <i class="fas fa-user-friends me-1"></i>
                                        Datos del Lector
                                    </div>                 
                                    <div class="card-body" style="border-color: red;">
                                        <div class="col-xl-12">
                                            <div class="input-group">
                                                <span class="btn bg-danger"><i class="fas fa-barcode" style="color: white;"></i></span>
                                                <p:inputText id="bC2" styleClass="form-control" type="search" placeholder="Matrícula" value="#{fPrestamo.idL}" />
                                                <p:tooltip for="bC2"  value="Buscar Estudiante o Docente por Matricula" position="right"/>
                                                <p:commandButton styleClass="ui-button-danger" icon="pi pi-search" action="#{fPrestamo.buscarNombreSolicitante()}" update="PuntoV" />
                                            </div>
                                            <br/>
                                            <h:panelGrid columns="2" class="col-xl-12">
                                                <h:outputText value="Lector: " class="negrita"  />
                                                <h:inputText class="form-control" value="#{fPrestamo.nombreS}" disabled="true"/>
                                            </h:panelGrid>
                                        </div>
                                    </div>
                                       
                                </div>
                                    <div class="card mb-4 border-info">
                                    <div class="card-header bg-primary" style="color:white;">
                                        <i class="fas fa-book me-1"></i>
                                        Datos del Libro
                                    </div>
                                    <div class="card-body">
                                        <div class="col-xl-12">
                                            <p:selectOneMenu id="advanced"
                                                             panelStyle="width:450px"  var="c" value="#{fPrestamo.libro}"
                                                    filter="true" filterMatchMode="startsWith" style="width:320px;">
                                                
                                                <f:selectItems value="#{fPrestamo.librosDisponibles}" var="libro"
                                                               itemLabel="#{libro.titulo}" itemValue="#{libro}"/>

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Código"/>
                                                    </f:facet>
                                                    <h:outputText value="#{c.id}" />
                                                </p:column>

                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Título"/>
                                                    </f:facet>
                                                    <h:outputText value="#{c.titulo}" />
                                                </p:column>

                                                <f:facet name="footer">
                                                    <h:outputText value="#{fPrestamo.librosDisponibles.size()} Libros"
                                                                style="font-weight:bold;" styleClass="p-py-1 p-d-block"/>
                                                </f:facet>
                                                <p:ajax event="change" update="PuntoV:sProducto" />
                                            </p:selectOneMenu>
                                            
                                            <br/>
                                            <h:panelGrid columns="3" class="col-xl-12" cellpadding="4" id="sProducto">
                                                                                                                                  
                                                <h:outputText  value="Cantidad:" class="negrita"  />
                                                <p:inputNumber id="Cantidad" minValue="1" value="#{fPrestamo.prestamoA.cantidad}" maxValue="#{fPrestamo.libro.cantidadDisponible}" validatorMessage="La cantidad debe ser mayor a 0." >
                                                    <p:ajax event="change" update="PuntoV:sProducto" />
                                                </p:inputNumber>
                                                <p:tooltip for="Cantidad"  value="Cantidad de Productos que desea comprar el cliente"  position="right"/>
                                                
                                                <h:outputText  value="Observación:" class="negrita" />
                                                <h:inputText id="anotaciones" class="form-control" value="#{fPrestamo.prestamoA.observacion}"  />
                                                <p:tooltip for="anotaciones"  value="Anotaciones del Préstamo"  position="right"/>
                                                
                                                <h:outputText value="Devolución:" class="negrita" />
                                                <p:calendar id="fechaDevolucion" value="#{fPrestamo.prestamoA.fechaDevolucion}" mindate="#{fPrestamo.minDate}" >
                                                    <p:ajax event="dateSelect" update="@form" process="@this"/>  
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </p:calendar>
                                                <p:tooltip for="fechaDevolucion" value="#{bundle.EditPrestamoTitle_fechaDevolucion}. Formato: dd/MM/yyyy" position="right"/>
                                                
                                                <p:commandButton id="agregar" value="Agregar" icon="pi pi-plus"  
                                                                 update="PuntoV" action="#{fPrestamo.agregarLibro()}" disabled="#{fPrestamo.prestamoA.fechaDevolucion == null}" />
                                            </h:panelGrid>
                                        </div>
                                    </div>
                                </div>
                                </div>  
                            </div>
                            <div class="col-xl-8">
                                <div class="card mb-4 border-dark">
                                    <div class="card-header bg-dark" style="color:white;">
                                        <i class="fas fa-table me-1"></i>
                                        Libros Seleccionados
                                    </div>
                                    <div class="card-body" style="height: 350px;">
                                        <p:dataTable var="prestamo"  value="#{fPrestamo.librosSolicitados}" scrollable="true" scrollHeight="250" >
                                        <p:column headerText="ID">
                                            <h:outputText value="#{prestamo.idLibro.id}"  />
                                        </p:column>

                                        <p:column headerText="TÍTULO">
                                            <h:outputText value="#{prestamo.idLibro.titulo}" />
                                        </p:column>

                                            <p:column headerText="DEVOLUCIÓN"  width="110px">
                                                <h:outputText value="#{prestamo.fechaDevolucion}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputText>
                                        </p:column>

                                            <p:column headerText="CANTIDAD">
                                                <p:inputNumber minValue="1" value="#{prestamo.cantidad}" maxValue="#{prestamo.idLibro.cantidadDisponible}"  size="5" validatorMessage="La cantidad debe ser mayor a 0.">
                                                    <p:ajax event="change" update="PuntoV" />
                                                </p:inputNumber>
                                        </p:column>
                                         
                                        
                                        <p:column headerText="OBS.">
                                            <h:outputText value="#{prestamo.observacion}"  />
                                        </p:column>
                                            
                                        <p:column headerText="" width="30px">
                                            <p:commandButton id="delete" styleClass="ui-button-danger" icon="pi pi-trash" update="PuntoV" action="#{fPrestamo.eliminarLibro(prestamo)}"  />
                                            <!--<p:tooltip for="delete"  value="Eliminar" position="top"/>-->
                                        </p:column> 
                                    </p:dataTable>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        
                                    </div>
                                    <div class="card-body">
                                        <h:panelGrid columns="9">
                                            <p:commandButton value="Continuar" action="FinalizarPrestamo" styleClass="ui-button-success" icon="pi pi-thumbs-up" disabled="#{fPrestamo.continuar}"/>
                                        <h:outputText value=" "/>
                                        <p:commandButton value="Cancelar" action="#{fPrestamo.cancelar()}" styleClass="ui-button-danger" icon="pi pi-thumbs-down" update="PuntoV" >
                                            <p:confirm header="Confirmación" message="¿Esta seguro que desea cancelar el Préstamo?" icon="pi pi-exclamation-triangle"/>
                                        </p:commandButton>  
                                        <h:outputText value=" "/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <h:outputText style="font-size: 30px; font-weight: bold;" value="Total de Libros: #{fPrestamo.librosSolicitados.size()}"/>
                                        <h:outputText style="font-size: 30px; font-weight: bold;" />
                                        </h:panelGrid>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>      
               <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
               </p:confirmDialog>
            </h:form>
            <script>
                PrimeFaces.locales['es'] = {
                    closeText: 'Cerrar',
                    prevText: 'Anterior',
                    nextText: 'Siguiente',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                    dayNamesMin: ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'],
                    weekHeader: 'Semana',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                    timeOnlyTitle: 'Sólo hora',
                    timeText: 'Tiempo',
                    hourText: 'Hora',
                    minuteText: 'Minuto',
                    secondText: 'Segundo',
                    currentText: 'Fecha actual',
                    ampm: false,
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                    allDayText: 'Todo el día'
                    };
            </script>
        </ui:define>
    </ui:composition>

</html>
