<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPrestamoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            
            <h:form id="FPrestamos">
                <p:growl id="message" showDetail="true"/>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{prestamoController.items.rowCount == 0}">
                    <div class="row">
                        <div class="col-xl-7"/>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC2" class="form-control" type="search" placeholder="Buscar Prestamo" value="#{prestamoController.search}"/>
                                        <p:tooltip for="bC2"  value="Buscar Prestamo por ID o Título del Libro" position="left"/>
                                        <p:commandButton update="FPrestamos" icon="pi pi-search" action="#{prestamoController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="FPrestamos" value="Mostrar todo" action="#{prestamoController.showAll}" />
                            </div>
                        </div> 
                    </div>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPrestamoEmpty}" rendered="#{prestamoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{prestamoController.items.rowCount > 0}">
                    <div class="row">
                        <div class="col-xl-7">
                            <ul class="pagination">
                                <li class="page-item"><h:outputText class="page-link" value="#{prestamoController.pagination.pageFirstItem + 1}..#{prestamoController.pagination.pageLastItem + 1}/#{prestamoController.pagination.itemsCount}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{prestamoController.previous}" value="#{bundle.Previous} #{prestamoController.pagination.pageSize}" rendered="#{prestamoController.pagination.hasPreviousPage}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink class="page-link" action="#{prestamoController.next}" value="#{bundle.Next} #{prestamoController.pagination.pageSize}" rendered="#{prestamoController.pagination.hasNextPage}"/>&nbsp;</li>
                            </ul>
                        </div>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC" class="form-control" type="search" placeholder="Buscar Prestamo" value="#{prestamoController.search}"/>
                                        <p:tooltip for="bC"  value="Buscar Prestamo por ID o Título del Libro" position="left"/>
                                        <p:commandButton update="FPrestamos" icon="pi pi-search" action="#{prestamoController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="FPrestamos" value="Mostrar todo" action="#{prestamoController.showAll}" />
                            </div>
                        </div> 
                    </div>
                    <div class="m-0 row justify-content-center p-1">
                    <h:dataTable value="#{prestamoController.items}" var="item" rules="all" class="table1">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_fechaPrestamo}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaPrestamo}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_fechaDevolucion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaDevolucion}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_cantidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidad}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_observacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.observacion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_status}"/>
                            </f:facet>
                            <span class="#{(item.status == 1)?'agotado letra negrita text-white':'existencia letra negrita text-white'}"><h:outputLabel value="#{((item.status == 1)?'PENDIENTE':'ENTREGADO')}"/></span>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_idLibro}"/>
                            </f:facet>
                            <h:outputText value="#{item.idLibro.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPrestamoTitle_idSolicitante}"/>
                            </f:facet>
                            <h:outputText value="#{prestamoController.buscarNombreSolicitante(item.idSolicitante.idlector)}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Opciones"/>
                            </f:facet>
                            <div class="btn-group">
                                <h:commandLink id="show" class="btn btn-info" action="#{prestamoController.prepareView}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                <h:outputText value=" "/>
                                <h:commandLink id="edit" class="btn btn-warning" action="#{prestamoController.prepareEdit}"><i class="fas fa-edit"></i></h:commandLink>
                                <p:tooltip for="edit" value="Editar Información" position="top"/>
                                <h:outputText value=" "/>
                                <p:commandLink id="delete" class="btn btn-danger" action="#{prestamoController.destroy}" update="FPrestamos"><i class="fas fa-trash" style="color:white;"></i>
                                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el Préstamo?" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>
                                <p:tooltip for="delete" value="Eliminar Préstamo" position="top"/>
                            </div>
                        </h:column>
                    </h:dataTable>
                    </div>
                    <br/>
                    </h:panelGroup>
                    <div class="btn-toolbar">
                        <h:commandLink class="btn btn-outline-primary " action="#{prestamoController.prepareCreate}"><i class="fas fa-book-open"></i> #{bundle.ListPrestamoCreateLink}</h:commandLink>
                        <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.ListPrestamoIndexLink}</h:link>
                    </div>
                    <br />
                    <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
