<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPrestamoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">  
                <h:form id="VPrestamo">
                <p:growl id="message" showDetail="true"/>
                <h:panelGrid columns="2" class="col-xl-10" cellpadding="5">
                    <h:outputText class="form-control color2 text-white bg-opacity-25" value="INFORMACIÓN"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_id} PRÉSTAMO"/>
                    <h:outputText class="form-control" value="#{prestamoController.selected.id}" title="#{bundle.ViewPrestamoTitle_id}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_fechaPrestamo}"/>
                    <h:outputText class="form-control" value="#{prestamoController.selected.fechaPrestamo}" title="#{bundle.ViewPrestamoTitle_fechaPrestamo}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_fechaDevolucion}"/>
                    <h:outputText class="form-control" value="#{prestamoController.selected.fechaDevolucion}" title="#{bundle.ViewPrestamoTitle_fechaDevolucion}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_cantidad}"/>
                    <h:outputText class="form-control" value="#{prestamoController.selected.cantidad}" title="#{bundle.ViewPrestamoTitle_cantidad}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_observacion}"/>
                    <h:outputText class="form-control" value="#{((prestamoController.selected.observacion).equals('')?'Sin Observaciones':prestamoController.selected.observacion)}" title="#{bundle.ViewPrestamoTitle_observacion}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_status}"/>
                    <span class="#{(prestamoController.selected.status == 1)?'agotado letra negrita text-white':'existencia letra negrita text-white'}">#{((prestamoController.selected.status == 1)?'PENDIENTE':'ENTREGADO')}</span>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_idLibro}"/>
                    <h:outputText class="form-control" value="#{prestamoController.selected.idLibro.titulo}" title="#{bundle.ViewPrestamoTitle_idLibro}"/>
                    <h:outputText class="form-label negrita" value="Clave del Solicitante"/>
                    <h:outputText class="form-control" value="#{prestamoController.buscarMatriculaS(prestamoController.selected.idSolicitante.idlector)}" title="Clave del Solicitante"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewPrestamoLabel_idSolicitante}"/>
                    <h:outputText class="form-control" value="#{prestamoController.buscarNombreSolicitante(prestamoController.selected.idSolicitante.idlector)}" title="#{bundle.ViewPrestamoTitle_idSolicitante}"/>
                </h:panelGrid>
                <br />
                <p:commandLink class="btn btn-danger text-white" style="text-decoration: none;"  action="#{prestamoController.destroyAndView}" update="VPrestamo"><i class="fas fa-trash text-white"></i> #{bundle.ViewPrestamoDestroyLink}
                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el Préstamo?" icon="pi pi-exclamation-triangle"/>
                </p:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="Edit"><i class="fas fa-edit"></i> Editar</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{prestamoController.prepareCreate}"><i class="fas fa-book-open"></i> Nuevo</h:commandLink>
                    <h:commandLink  class="btn btn-outline-primary" action="#{prestamoController.prepareList}"><i class="fas fa-list"></i> #{bundle.ViewPrestamoShowAllLink}</h:commandLink>
                </div>
                <br/>
                <br/>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://bibliotecamiguelcatalan.files.wordpress.com/2021/09/449bb07154b02e2c8051e451a95cef29.gif" width="100%"/>
                </div>
            </div>
            </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
