<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstudianteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">  
               <h:form id="vEstudiante">
                <p:growl id="message" showDetail="true"/>
                <h:panelGrid columns="2" class="col-xl-10">
                    <h:outputText class="form-control color2 text-white bg-opacity-25" value="INFORMACIÓN"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_matricula}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.matricula}" title="#{bundle.ViewEstudianteTitle_matricula}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_password}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.password}" title="#{bundle.ViewEstudianteTitle_password}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_nombre}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.nombre}" title="#{bundle.ViewEstudianteTitle_nombre}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_apellidoP}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.apellidoP}" title="#{bundle.ViewEstudianteTitle_apellidoP}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_apellidoM}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.apellidoM}" title="#{bundle.ViewEstudianteTitle_apellidoM}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_carrera}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.carrera}" title="#{bundle.ViewEstudianteTitle_carrera}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_telefono}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.telefono}" title="#{bundle.ViewEstudianteTitle_telefono}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_grupo}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.grupo}" title="#{bundle.ViewEstudianteTitle_grupo}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_correoE}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.correoE}" title="#{bundle.ViewEstudianteTitle_correoE}"/>
                    <h:outputText class="form-control color2 text-white bg-opacity-10" value="DIRECCIÓN DEL ESTUDIANTE"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_calleYnum}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.calleYnum}" title="#{bundle.ViewEstudianteTitle_calleYnum}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_colonia}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.colonia}" title="#{bundle.ViewEstudianteTitle_colonia}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_codigoPostal}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.codigoPostal}" title="#{bundle.ViewEstudianteTitle_codigoPostal}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_municipio}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.municipio}" title="#{bundle.ViewEstudianteTitle_municipio}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEstudianteLabel_estado}"/>
                    <h:outputText class="form-control" value="#{estudianteController.selected.estado}" title="#{bundle.ViewEstudianteTitle_estado}"/>
                    
                </h:panelGrid>
                <br />
                <p:commandLink class="btn btn-danger text-white" style="text-decoration: none;" action="#{estudianteController.destroyAndView}" update="vEstudiante"><i class="fas fa-trash text-white"></i> #{bundle.ViewEstudianteDestroyLink}
                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el Estudiante?" icon="pi pi-exclamation-triangle"/>
                </p:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="Edit"><i class="fas fa-edit"></i> Editar</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{estudianteController.prepareCreate}"><i class="fas fa-user"></i> Nuevo</h:commandLink>
                    <h:commandLink class="btn btn-outline-primary" action="#{estudianteController.prepareList}"><i class="fas fa-list"></i> #{bundle.ViewEstudianteShowAllLink}</h:commandLink>
                </div>
                    <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://www.uniagustiniana.edu.co/sites/default/files/inline-images/RecursosBiblioteca_banner.jpg" width="100%"/>
                </div>
            </div>
            </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
