<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEditorialTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
            <h:form id="CEditorial">
                <h:outputLabel>Para Registrar la información de la Editorial, es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                <br/>
                <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita"  value="#{bundle.EditEditorialLabel_id}" for="id" />
                    <p:inputText class="form-control" id="id" value="#{editorialController.selected.id}"  required="true" requiredMessage="#{bundle.EditEditorialRequiredMessage_id}" disabled="true"/>
                    <p:tooltip for="id" value="#{bundle.EditEditorialTitle_id}" position="right"/>
                    <h:outputLabel class="form-label negrita"  value="#{bundle.EditEditorialLabel_editorial}" for="editorial" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputText class="form-control" id="editorial" value="#{editorialController.selected.editorial}"  required="true" requiredMessage="#{bundle.EditEditorialRequiredMessage_editorial}"/>
                    <p:tooltip for="editorial" value="#{bundle.EditEditorialTitle_editorial}" position="right"/>
                </h:panelGrid>
                <br />
                <h:commandLink class="btn btn-success" action="#{editorialController.create}"><i class="fas fa-save"></i> #{bundle.CreateEditorialSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary" action="#{editorialController.prepareList}" immediate="true"><i class="fas fa-list"></i> #{bundle.CreateEditorialShowAllLink}</h:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.CreateEditorialIndexLink}</h:link>
                </div>
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://www.tradefairtimes.com/wp-content/uploads/2018/06/editor.png" width="80%"/>
                </div>
            </div>
            </div>
            </div>  
        </ui:define>
    </ui:composition>

</html>
