<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEditorialTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
            <h:form id="CEditorial">
                <p:growl id="message" showDetail="true"/>
                <h:panelGrid columns="2" class="col-xl-7">
                    <h:outputText class="form-control color2 text-white bg-opacity-25" value="INFORMACIÓN"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="ID EDITORIAL"/>
                    <h:outputText class="form-control" value="#{editorialController.selected.id}" title="#{bundle.ViewEditorialTitle_id}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewEditorialLabel_editorial}"/>
                    <h:outputText class="form-control" value="#{editorialController.selected.editorial}" title="#{bundle.ViewEditorialTitle_editorial}"/>
                </h:panelGrid>
                <br />
                <p:commandLink class="btn btn-danger text-white" style="text-decoration: none;"  action="#{editorialController.destroyAndView}" update="CEditorial"><i class="fas fa-trash text-white"></i> #{bundle.ViewEditorialDestroyLink}
                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar la Editorial" icon="pi pi-exclamation-triangle"/>
                </p:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="Edit"><i class="fas fa-edit"></i> #{bundle.ViewEditorialEditLink}</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{editorialController.prepareCreate}"><i class="fas fa-plus"></i> Nueva Editorial</h:commandLink>
                    <h:commandLink class="btn btn-outline-primary" action="#{editorialController.prepareList}"><i class="fas fa-list"></i> #{bundle.ViewEditorialShowAllLink}</h:commandLink>
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
                    </div>
                <div class="col-xl-5">
                   <img src="https://www.tradefairtimes.com/wp-content/uploads/2018/06/editor.png" width="100%"/>
                </div>
            </div>
            </div>
            </div> 
        </ui:define>
    </ui:composition>

</html>
