<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDocenteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form id="rDocente">
                <p:growl id="message" showDetail="true"/>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{docenteController.items.rowCount == 0}">
                    <div class="row">
                        <div class="col-xl-7"/>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC2" class="form-control" type="search" placeholder="Buscar Autor" value="#{docenteController.search}"/>
                                        <p:tooltip for="bC2"  value="Buscar Docente por ID, Nombre o Apellidos" position="left"/>
                                        <p:commandButton update="rDocente" icon="pi pi-search" action="#{docenteController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="rDocente" value="Mostrar todo" action="#{docenteController.showAll}" />
                            </div>
                        </div> 
                    </div>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDocenteEmpty}" rendered="#{docenteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{docenteController.items.rowCount > 0}">
                    <div class="row">
                        <div class="col-xl-7">
                            <ul class="pagination">
                                <li class="page-item"><h:outputText  class="page-link" value="#{docenteController.pagination.pageFirstItem + 1}..#{docenteController.pagination.pageLastItem + 1}/#{docenteController.pagination.itemsCount}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink  class="page-link" action="#{docenteController.previous}" value="#{bundle.Previous} #{docenteController.pagination.pageSize}" rendered="#{docenteController.pagination.hasPreviousPage}"/>&nbsp;</li>
                                <li class="page-item"><h:commandLink  class="page-link" action="#{docenteController.next}" value="#{bundle.Next} #{docenteController.pagination.pageSize}" rendered="#{docenteController.pagination.hasNextPage}"/>&nbsp;</li>
                            </ul>
                        </div>
                        <div class="col-xl-5"> 
                            <div class="btn-toolbar">
                                    <div class="input-group">
                                        <p:inputText id="bC" class="form-control" type="search" placeholder="Buscar Docente" value="#{docenteController.search}"/>
                                        <p:tooltip for="bC"  value="Buscar Docente por ID, Nombre o Apellidos" position="left"/>
                                        <p:commandButton update="rDocente" icon="pi pi-search" action="#{docenteController.show}" />
                                    </div>
                                &nbsp;<p:commandButton styleClass="ui-button-success" update="rDocente" value="Mostrar todo" action="#{docenteController.showAll}" />
                            </div>
                        </div> 
                    </div>
                    <div class="m-0 row justify-content-center p-1">
                    <h:dataTable value="#{docenteController.items}" var="item" rules="all" class="table1">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <!--
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>-->
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_apellidoP}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidoP}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_apellidoM}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidoM}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_area}"/>
                            </f:facet>
                            <h:outputText value="#{item.area}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_calleYnum}"/>
                            </f:facet>
                            <h:outputText value="#{item.calleYnum}"/>
                        </h:column>
                        <!--
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_colonia}"/>
                            </f:facet>
                            <h:outputText value="#{item.colonia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_codigoPostal}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigoPostal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_municipio}"/>
                            </f:facet>
                            <h:outputText value="#{item.municipio}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_estado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDocenteTitle_correo}"/>
                            </f:facet>
                            <h:outputText value="#{item.correo}"/>
                        </h:column>-->
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Opciones"/>
                            </f:facet>
                            <div class="btn-group">
                                <h:commandLink id="show" class="btn btn-info" action="#{docenteController.prepareView}"><i class="fas fa-info-circle"></i></h:commandLink>
                                <p:tooltip for="show" value="Ver Detalles" position="top"/>
                                <h:commandLink id="edit" class="btn btn-warning" action="#{docenteController.prepareEdit}"><i class="fas fa-edit"></i></h:commandLink>
                                <p:tooltip for="edit" value="Editar Información" position="top"/>
                                <p:commandLink id="delete" class="btn btn-danger" action="#{docenteController.destroy}" update="rDocente"><i class="fas fa-trash" style="color:white;"></i>
                                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar el Docente?" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>
                                <p:tooltip for="delete" value="Eliminar" position="top"/>
                            </div>
                        </h:column>
                    </h:dataTable>
                   </div>
                </h:panelGroup>
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary"  action="#{docenteController.prepareCreate}"><i class="fas fa-user"></i> #{bundle.ListDocenteCreateLink}</h:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.ListDocenteIndexLink}</h:link>
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
