<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="Descargar Inventario en Formato CSV o PDF"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
                <h:form id="DAutor">
                    <h:outputLabel value="En ciertos ámbitos, la organización y el orden son indispensables para lograr el éxito. Especialmente, en el mundo empresarial se reconoce su importancia. Teniendo en cuenta esto, hemos hecho el inventario de libros del Centro de Información, en formato PDF y CSV, con el fin de que encuentres un apoyo en esta área." />
                    <br/>
                    <br/>
                    <h:panelGrid columns="2" class="col-xl-9" cellpadding="5">
                    <h:outputText class="form-label negrita" value="Total de libros Registrados: "/>
                    <h:outputText class="form-control" value="#{inventarioController.numeroLibros}" title="Número de Libros en la DB."/>
                    <h:outputText class="form-label negrita" value="Número de Editoriales Registradas: "/>
                    <h:outputText class="form-control" value="#{inventarioController.numeroEditoriales}" title="Editoriales"/>
                    <h:outputText class="form-label negrita" value="Total de Autores: "/>
                    <h:outputText class="form-control" value="#{inventarioController.numeroAutores}" title="Autores"/>
                </h:panelGrid>
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-danger text-white" style="text-decoration: none;" action="#{inventarioController.downloadFilePDF()}"><i class="fas fa-file-pdf text-white"></i> Descargar PDF
                </h:commandLink>
                <h:commandLink class="btn btn-success text-white" style="text-decoration: none;" action="#{inventarioController.downloadFile()}"><i class="fas fa-file-csv text-white"></i> Descargar CSV
                </h:commandLink>
                </div>
                <br />
                <br />

            </h:form>
                    </div>
                        <div class="col-xl-5">
                            <img src="https://uem.edu.mx/wp-content/uploads/2021/01/6909-scaled-1024x732.jpg" width="100%"/>
                        </div>
                    </div>
                </div>
            </div> 
        </ui:define>
    </ui:composition>

</html>
