<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="#{logueo.cambiarModoLT3()}">
    <ui:define name="title">
        FAWARIS BOOK APP
    </ui:define>
    <ui:define name="body">
              <div class="container-fluid px-4">
                        <h1 class="mt-4">Bienvenido a FAWARIS BOOK APP</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">SISTEMA WEB PARA EL CONTROL DE INVENTARIO Y PRÉSTAMO DE LIBROS DEL CENTRO DE INFORMACIÓN DEL CECYTE PLANTEL 25 “SAN PABLO HUIXTEPEC”</li>
                        </ol>
                        <br/>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4" style="border:none; background: #000046; background: -webkit-linear-gradient(to right, #000046, #1cb5e0); background: linear-gradient(to right, #000046, #1cb5e0);">
                                    <div class="card-body"><i class="fas fa-book-open"></i> Préstamos</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <h:link id="Prestamos" class="small text-white stretched-link" outcome="/prestamo/List" value="Ver Detalles"/>
                                        <p:tooltip for="Prestamos" value="Solicitar Libro" position="bottom"/>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4" style="border: none; background:  #e65c00;  background: -webkit-linear-gradient(to right, #e65c00, #f9d423); background: linear-gradient(to right, #e65c00, #f9d423);">
                                    <div class="card-body"><i class="fas fa-address-card"></i> Libros </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <h:link id="Libros" class="small text-white stretched-link"  outcome="/libro/List" value="Ver Detalles"/>
                                        <p:tooltip for="Libros" value="Material Bibliográfico" position="bottom"/>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4" style="border: none; background: #1D976C; background: -webkit-linear-gradient(to left, #93F9B9, #1D976C); background: linear-gradient(to left, #93F9B9, #1D976C);">
                                    <div class="card-body"><i class="fas fa-address-book"></i> Estudiantes</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <h:link id="Estudiantes" class="small text-white stretched-link" outcome="/estudiante/List" value="Ver Detalles"/>
                                        <p:tooltip for="Estudiantes" value="Listado de Estudiantes" position="bottom"/>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-4" style="border:none; background: #FF0099; background: -webkit-linear-gradient(to right, #493240, #FF0099);background: linear-gradient(to right, #493240, #FF0099); ">
                                    <div class="card-body"><i class="fas fa-school"></i> Docentes </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <h:link id="Docentes" class="small text-white stretched-link"  outcome="/docente/List" value="Ver Detalles"/>
                                        <p:tooltip for="Docentes" value="Listado de Docentes" position="bottom"/>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Disminuye cifra de lectores en México: INEGI
                                    </div>
                                    <div class="card-body">
                                        <script type="text/javascript">
                                                //<![CDATA[
                                            function exportChart() {
                                                //export image
                                                $('#output').empty().append(PF('chart').exportAsImage());

                                                //show the dialog
                                                PF('dlg').show();
                                            }
                                                //]]>
                                                //<![CDATA[
                                            function exportChart2() {
                                                //export image
                                                $('#output2').empty().append(PF('chart2').exportAsImage());

                                                //show the dialog
                                                PF('dlg2').show();
                                            }
                                                //]]>
                                            </script>
                                        <p:chart type="bar" model="#{graficos.barModel}" style="height:260px; width: 100%" widgetVar="chart" />
                                        <br />
                                        <strong>Fuente: </strong><p>La reducción de lectores en México cada año es ya tendencia. Imagen tomada del Twitter de @SantaellaJulio <a href="https://www.jornada.com.mx/ultimas/cultura/2020/04/23/disminuye-cifra-de-lectores-en-mexico-inegi-630.html" target="_blank">Clic aquí</a></p>
                                        <h:form>
                                        <p:commandButton type="button" value="Exportar" icon="pi pi-home" onclick="exportChart()"/>
                                        </h:form>
                                        <p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Disminuye cifra de lectores en México: INEGI" resizable="false">
                                            <p:outputPanel id="output" layout="block" style="width:500px;height:300px"/>
                                        </p:dialog>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        A mayor edad disminuye la proporción de personas que leen
                                    </div>
                                    <div class="card-body">
                                        <p:chart type="pie" model="#{graficos.pieModel1}" style="height:260px; width: 100%;" widgetVar="chart2"/>
                                        <br />
                                        <br />
                                        <strong>Fuente: </strong><p>Tabulados del MOLEC, 2020, www.inegi.org.mx <a href="https://www.mexicosocial.org/datos-deprimentes-en-lectura/" target="_blank">Clic aquí</a></p>
                                        <h:form>
                                        <p:commandButton type="button" value="Exportar" icon="pi pi-home" onclick="exportChart2()"/>
                                        </h:form>
                                        <p:dialog widgetVar="dlg2" showEffect="fade" modal="true" header="A mayor edad disminuye la proporción de personas que leen." resizable="false">
                                            <p:outputPanel id="output2" layout="block" style="width:350px;height:250px;"/>
                                        </p:dialog>  
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Acerca de FAWARIS 
                            </div>
                            <div class="card-body">
                                <div class="row">
                            <div class="col-xl-6">
                                <h4>FAWARIS BOOK APP</h4>
                                <p>El sistema <strong>FAWARIS</strong>, permitirá optimizar el control y gestión del inventario del Centro de Información, con el objetivo de brindar información oportuna a todos los estudiantes y docentes. Se podrá obtener un listado de todos los libros en stock, el número de ejemplares con los que se cuenta, las editoriales y buscar en cualquier momento algún material bibliográfico bajo distintas reglas de filtrado, por ejemplo, se podrán realizar búsquedas por título del libro, autor, editorial o ISBN.
                                  
                                </p>
                                
                                <img class="masthead-avatar mb-5" src="http://colegioandino.com/wp-content/uploads/2020/12/%C2%A1Biblioteca-Virtual.gif" width="500px"/>
                                
                            </div>
                            <div class="col-xl-6">
                            <div class="hover02 column">
                                <figure>
                                    <img src="https://www.rnoax.com/wp-content/uploads/2019/02/cecyte.jpg" width="400px" />
                                </figure>
                                <p>
                                 En el caso de los préstamos de libros, los alumnos se podrán registrar en el sistema con su matrícula, para que, al momento de solicitar algún préstamo, el sistema detecte de manera automática si el alumno no ha cumplido con la devolución de algún libro, de no haber ningún problema, el préstamo se podrá realizar de manera fácil y rápida. 
                                </p>
                            </div>
                                
                            </div>
                        </div>
                                                                      
                            </div>
                        </div>
                    </div>

    </ui:define>

</ui:composition>
</html>

