<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Home</title>
        <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/LiveJournal_icon.svg/1200px-LiveJournal_icon.svg.png"/>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <h:outputStylesheet name="css/styles2.css"/>
       
    </h:head>
    <h:body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">FAWARIS BOOK APP</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/CECyTE25/faces/publico.xhtml">Home</a></li>
                        <li class="nav-item mx-0 mx-lg-1 dropdown">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Servicios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><h:link class="dropdown-item" outcome="publico/List">Buscar Material Bibliográfico </h:link></li>
                            </ul>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://goo.gl/maps/HZViUqnPsrTgjo2EA" target="_blank">Contacto</a></li>
                        <li class="nav-item mx-0 mx-lg-1 dropdown">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Bienvenido@: #{logueo.datosU}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><hr class="dropdown-divider"/></li>
                                <li>   
                                    <h:form>
                                        <h:commandLink class="dropdown-item" action="#{logueo.logout()}" value="Log Out"/>
                                    </h:form>
                                </li>
                            </ul>
                        </li>                       
                    </ul>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://pbs.twimg.com/media/Eb7SiQmUcAIsF0u?format=jpg" height="480px" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://www.rotativooaxaca.com.mx/wp-content/uploads/2021/03/COLEGIO-1.png" height="480px" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="https://thumbs.dreamstime.com/b/banner-de-educaci%C3%B3n-en-l%C3%ADnea-estudio-distancia-casa-ilustraci%C3%B3n-vectorial-la-formaci%C3%B3n-digital-seminario-web-con-estudiantes-199230422.jpg" height="480px" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item">
                    <img src="https://static.vecteezy.com/system/resources/previews/002/236/400/non_2x/education-trendy-banner-vector.jpg" height="480px" class="d-block w-100" alt="..."/>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <header class="navbar bg-primary text-white text-center" style="height:100px;">
                <div class="container d-flex align-items-center flex-column">
                    <h2 class="page-section-heading text-center text-uppercase">CECyTE Plantel 25 "San Pablo Huixtepec"</h2>
                </div>
            </header>
        </div>
        <!-- About Section-->
        <section class="page-section bg-white text-black mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h3 class="page-section-heading text-center text-uppercase text-black">CECYTE - OAXACA</h3>
                <!-- Icon Divider-->
                <div class="divider-custom divider-dark">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-6 ms-auto"><p class="lead"><strong class="text-primary" style="font-weight:bold;">HISTORIA </strong><br/>El Colegio de Estudios Científicos y Tecnológicos del Estado de Oaxaca <strong style="font-weight:bold;">(CECyTE)</strong>, es una institución de carácter oficial, creada el 12 de agosto de 1993, que brinda educación media superior en las modalidades de bachillerato tecnológico bivalente y bachillerato general, cuyo objetivo es propiciar el desempeño de nuestros egresados a la vida profesional, en función a las características y necesidades específicas de cada región y al desarrollo socioeconómico del estado de Oaxaca.</p></div>
                    <div class="col-lg-6 me-auto"><p class="lead"><strong class="text-info" style="font-weight:bold;">MISIÓN: </strong> Ofrecer a la población oaxaqueña educación media superior en las modalidades de bachillerato tecnológico bivalente y bachillerato general, que permita a los alumnos la continuación de sus estudios en el nivel superior, así como el adecuado desempeño de sus egresados en la vida profesional, contribuyendo al desarrollo socioeconómico del estado de Oaxaca en función de las características y necesidades específicas de cada región.
                            <br/><strong class="text-info" style="font-weight:bold;">VISIÓN: </strong>Convertir al Colegio de Estudios Científicos y Tecnológicos del Estado de Oaxaca en una institución educativa de calidad en el nivel medio superior en el estado y proyectar su presencia a nivel nacional.</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-secondary btn-xl btn-outline-light" target="_blank" href="http://www.cecyteo.edu.mx/nova/site/index">
                        <i class="fas fa-share"></i>
                        Ir a la Página Oficial
                    </a>
                </div>
            </div>
        </section>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image
                <img class="masthead-avatar mb-5" src="https://easyecotips.com/wp-content/uploads/2020/08/repuebla-en-verde_icono_ondo-blanco-1.png" alt="Escudo de Baja California" />-->
                <!-- Masthead Heading-->
                <img  src="https://userscontent2.emaze.com/images/28954924-8446-429a-9760-c224856ca904/dc7c4db5b9bea661b3027aac15f74645.png" alt="Biblioteca Escolar" width="600px" /><br/>
                <h3 class="masthead-heading text-uppercase mb-0">Biblioteca Virtual</h3>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading
                <p class="masthead-subheading font-weight-light mb-0">Baja California - México</p>-->
            </div>
        </header>    
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sitios de Interés </h2>
                <br/>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://qph.fs.quoracdn.net/main-qimg-ae5f4185487bd7d74aaba8e8d863aba0" alt="..." />
                            <h4>Librería Genesis </h4>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="http://aretio.hypotheses.org/files/2013/09/khan2.png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://fundacioncarlosslim.org/wp-content/uploads/2016/08/Capacitate-para-el-Empleo.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.unamenlinea.unam.mx/recursos/img/84453/biblioteca-nacional-de-mexico.jpg" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://www.chiquitectos.com/wp-content/uploads/2018/10/Logo-BNE.png" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="https://iconape.com/wp-content/files/vr/190565/png/190565.png" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Dirección</h4>
                        <p class="lead mb-0">
                            Avenida de los presidentes S/N, Colonia Francisco I Madero, 
                            <br />
                            San Pablo Huixtepec, Oaxaca.
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Sitio Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">CECyTE Plantel 25</h4>
                        <p class="lead mb-0">
                            Institución Educativa para el nivel medio superior. 
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <c:forEach var="imagen" items="#{configuracion.imagenes}" >
            <div class="portfolio-modal modal fade" id="#{imagen.IDCompuesto}" tabindex="-1" aria-labelledby="#{imagen.IDCompuesto}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                        <div class="modal-body text-center pb-5">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title-->
                                        <h2 class="portfolio-modal-title text-secondary mb-0">#{imagen.titulo}</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="#{imagen.img}" alt="..." />
                                        <!-- Portfolio Modal - Text-->
                                        <p class="justify-content-left">#{imagen.descripcion}</p>
                                        <br/>
                                        <a href="#{imagen.enlace}" target="_blank">Clic aquí</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </c:forEach>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; FAWARIS 2022</small></div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!--<h:outputScript name="js/scripts.js"/>-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </h:body>

</html>

