<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLectorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLectorEmpty}" rendered="#{lectorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lectorController.items.rowCount > 0}">
                    <h:outputText value="#{lectorController.pagination.pageFirstItem + 1}..#{lectorController.pagination.pageLastItem + 1}/#{lectorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lectorController.previous}" value="#{bundle.Previous} #{lectorController.pagination.pageSize}" rendered="#{lectorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lectorController.next}" value="#{bundle.Next} #{lectorController.pagination.pageSize}" rendered="#{lectorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lectorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLectorTitle_idlector}"/>
                            </f:facet>
                            <h:outputText value="#{item.idlector}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lectorController.prepareView}" value="#{bundle.ListLectorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lectorController.prepareEdit}" value="#{bundle.ListLectorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lectorController.destroy}" value="#{bundle.ListLectorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lectorController.prepareCreate}" value="#{bundle.ListLectorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLectorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
