<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateSolicitudTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
                <h:form id="CSolicitud">
                    <h:outputLabel>Para Generar una Solicitud de Material Bibliográfico, es necesario que rellene los siguientes campos. Los campos obligatorios estan marcados con:  <span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <br/>
                    <br/>
                <h:panelGrid columns="3" class="col-xl-10">
                    <h:outputLabel class="form-label negrita" value="ID SOLICIUD: " for="id" />
                    <p:inputText class="form-control" id="id" value="#{solicitudController.selected.id}" disabled="true"/>
                    <p:tooltip for="id" value="#{bundle.CreateSolicitudTitle_id}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.CreateSolicitudLabel_status}" for="status" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu style="width: 290px;"  class="form-control" id="status" value="#{solicitudController.selected.status}" >
                        <f:selectItem itemLabel="ACEPTADA" itemValue="1"/>
                        <f:selectItem itemLabel="RECHAZADA" itemValue="2"/>
                        <f:selectItem itemLabel="EN PROCESO" itemValue="3"/>
                    </p:selectOneMenu>
                    <p:tooltip for="status" value="#{bundle.CreateSolicitudTitle_status}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.CreateSolicitudLabel_comentarios}" for="comentarios" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:inputTextarea rows="6" cols="33" class="form-control" id="comentarios" value="#{solicitudController.selected.comentarios}"/>
                    <p:tooltip for="comentarios" value="#{bundle.CreateSolicitudTitle_comentarios}"   position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.CreateSolicitudLabel_idLibro}" for="idLibro" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu style="width: 290px;"  filter="true" filterPlaceholder="Libro" id="idLibro" value="#{solicitudController.selected.idLibro}" required="true" requiredMessage="#{bundle.CreateSolicitudRequiredMessage_idLibro}">
                        <f:selectItems value="#{libroController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <p:tooltip for="idLibro" value="#{bundle.CreateSolicitudTitle_idLibro}"  position="right"/>
                    
                    <h:outputLabel class="form-label negrita" value="#{bundle.CreateSolicitudLabel_idSolicitante}" for="idSolicitante" ><span class="negrita" style="color:red; ">(*)</span></h:outputLabel>
                    <p:selectOneMenu  filter="true" filterPlaceholder="Estudiante" id="idSolicitante" value="#{solicitudController.selected.idSolicitante.idlector}" required="true" requiredMessage="#{bundle.CreateSolicitudRequiredMessage_idSolicitante}">
                        <f:selectItems value="#{lectorController.lectoresDisponibles}" var="lector" itemLabel="#{lector}" itemValue="#{lector.id}" />
                    </p:selectOneMenu>
                    <p:tooltip for="idSolicitante" value="#{bundle.CreateSolicitudTitle_idSolicitante}"  position="right"/>
                    
                </h:panelGrid>
                <br />
                <h:commandLink class="btn btn-success" action="#{solicitudController.create}"><i class="fas fa-save"></i> #{bundle.CreateSolicitudSaveLink}</h:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:commandLink class="btn btn-outline-primary" action="#{solicitudController.prepareList}" immediate="true"><i class="fas fa-list"></i> #{bundle.CreateSolicitudShowAllLink} </h:commandLink>
                    <h:link class="btn btn-outline-primary" outcome="/index"><i class="fas fa-home"></i> #{bundle.CreateSolicitudIndexLink}</h:link>
                </div>
            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://cdn-610f9e01c1ac181114e1768b.closte.com/wp-content/uploads/2021/09/educacion-en-linea.png" width="100%"/>
                </div>
            </div>
            </div>
            </div> 
        </ui:define>
    </ui:composition>

</html>
