<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="#{logueo.cambiarModoLT1()}">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSolicitudTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages infoClass="alert alert-success" errorClass="alert alert-danger"/>
            </h:panelGroup>
            <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-xl-7"> 
                <h:form id="vSolicitud">
                <p:growl id="message" showDetail="true"/>
                <h:panelGrid columns="2" class="col-xl-10" cellpadding="5">
                    <h:outputText class="form-control color2 text-white bg-opacity-25" value="INFORMACIÓN"/>
                    <h:outputLabel />
                    <h:outputText class="form-label negrita" value="ID SOLICITUD:"/>
                    <h:outputText class="form-control" value="#{solicitudController.selected.id}" title="#{bundle.ViewSolicitudTitle_id}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_status}"/>
                    <span class="#{(solicitudController.selected.status == 2)?'agotado letra negrita text-white':((solicitudController.selected.status== 1)?'existencia letra negrita text-white':'por_agotar letra negrita text-white')}">#{(solicitudController.selected.status == 2)?'RECHAZADA':((solicitudController.selected.status == 1)?'ACEPTADA':'EN PROCESO')}</span>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_comentarios}"/>
                    <h:outputText class="form-control" value="#{solicitudController.selected.comentarios}" title="#{bundle.ViewSolicitudTitle_comentarios}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_idLibro}"/>
                    <h:outputText class="form-control" value="#{solicitudController.selected.idLibro.titulo}" title="#{bundle.ViewSolicitudTitle_idLibro}"/>
                    <h:outputText class="form-label negrita" value="#{bundle.ViewSolicitudLabel_idSolicitante}"/>
                    <h:outputText class="form-control" value="#{prestamoController.buscarNombreSolicitante(solicitudController.selected.idSolicitante.idlector)}" title="#{bundle.ViewSolicitudTitle_idSolicitante}"/>
                </h:panelGrid>
                <br />
                <p:commandLink class="btn btn-danger text-white" style="text-decoration: none;" action="#{solicitudController.destroyAndView}" update="vSolicitud"><i class="fas fa-trash text-white"></i>  #{bundle.ViewSolicitudDestroyLink}
                    <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar la Solicitud?" icon="pi pi-exclamation-triangle"/>
                </p:commandLink>
                <br />
                <br />
                <div class="btn-toolbar">
                    <h:link class="btn btn-outline-primary" outcome="Edit" ><i class="fas fa-edit"></i> #{bundle.ViewSolicitudEditLink}</h:link>
                    <h:commandLink class="btn btn-outline-primary" action="#{solicitudController.prepareCreate}"><i class="fas fa-book-open"></i> #{bundle.ViewSolicitudCreateLink}</h:commandLink>
                    <h:commandLink class="btn btn-outline-primary" action="#{solicitudController.prepareList}"><i class="fas fa-list"></i> #{bundle.ViewSolicitudShowAllLink}</h:commandLink>
                </div>
                <br />
                <br />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
                </p:confirmDialog>

            </h:form>
                    </div>
                <div class="col-xl-5">
                    <img src="https://cdn-610f9e01c1ac181114e1768b.closte.com/wp-content/uploads/2021/09/educacion-en-linea.png" width="100%"/>
                </div>
            </div>
            </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
